@page "/dashboard"
@model Client.WebAdmin.Pages.Dashboard.IndexModel

<div class="row d-flex justify-content-center text-white">
    <div class="card col-md-3 col-xxl-4 col-sm-6 text-center m-1 bg-primary">
        <div class="card-header-pills pt-2">SITE</div>
        <hr />
        <div class="card-body">
            <p>@Model.SiteCount</p>
        </div>
    </div>
    <div class="card col-md-3 col-xxl-4 col-sm-6 text-center m-1 bg-blue">
        <div class="card-header-pills pt-2">BLOCK</div>
        <hr/>
        <div class="card-body">
            <p>@Model.BlockCount</p>
        </div>
    </div>
    <div class="card col-md-3 col-xxl-4 col-sm-6 text-center m-1 bg-cyan">
        <div class="card-header-pills pt-2">UNIT</div>
        <hr />
        <div class="card-body">
            <p>@Model.UnitCount</p>
        </div>
    </div>
</div>
