@page "/account/login"
@model Client.WebAdmin.Pages.Account.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="CryptoDash admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, CryptoDash Cryptocurrency Dashboard Template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="ThemeSelection">
    <title>Account Login - Apartment Management</title>
    <link rel="apple-touch-icon" href="~/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i|Comfortaa:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/charts/chartist.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/charts/chartist-plugin-tooltip.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/vertical-compact-menu.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/cryptocoins/cryptocoins.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/timeline.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/dashboard-ico.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
</head>
<body class="vertical-layout vertical-compact-menu 1-column  bg-full-screen-image menu-expanded blank-page blank-page" data-open="click" data-menu="vertical-compact-menu" data-col="1-column">
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section id="account-login" class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <!-- login form -->
                        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 p-0">
                            <div class="card border-grey border-lighten-3 m-0 box-shadow-0 card-account-right height-400">
                                <div class="card-content">
                                    <div class="card-body p-3">
                                        <p class="text-center h5 text-capitalize">Apartment Management System - Admin</p>
                                        <p class="mb-3 text-center">Please enter your login details</p>
                                        <form class="form-horizontal form-signin" method="post">
                                            <fieldset class="form-label-group">
                                                <input type="email" class="form-control" asp-for="LoginRequest.Email" value="john.doe@gmail.com" id="user-name" placeholder="Your Email" required autofocus="">
                                                <label for="user-name">Email</label>
                                            </fieldset>
                                            <fieldset class="form-label-group">
                                                <input type="password" class="form-control" asp-for="LoginRequest.Password" value="Password123*" id="user-password" placeholder="Enter Password" required="" autofocus="">
                                                <label for="user-password">Password</label>
                                            </fieldset>

                                            <button type="submit" class="btn-gradient-primary btn-block my-2">Log In</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

    <script src="~/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/charts/chartist.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/charts/chartist-plugin-tooltip.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/timeline/horizontal-timeline.js" type="text/javascript"></script>
    <script src="~/app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="~/app-assets/js/core/app.js" type="text/javascript"></script>
    <script src="~/app-assets/js/scripts/pages/dashboard-ico.js" type="text/javascript"></script>
</body>
</html>