@page
@model IndexModel


<div class="row d-flex justify-content-center text-white">
    <div class="card col-md-2 col-xxl-4 col-sm-6 text-center m-1 bg-amber">
        <div class="card-title">Site</div>
        <hr />
        <div class="card-body">
            <p>15</p>
        </div>
    </div>
    <div class="card col-md-2 col-xxl-4 col-sm-6 text-center m-1 bg-blue">
        <div class="card-title">Block</div>
        <hr />
        <div class="card-body">
            <p>15</p>
        </div>
    </div>
    <div class="card col-md-2 col-xxl-4 col-sm-6 text-center m-1 bg-cyan">
        <div class="card-title">Unit</div>
        <hr />
        <div class="card-body">
            <p>15</p>
        </div>
    </div>
    <div class="card col-md-2 col-xxl-4 col-sm-6 text-center m-1 bg-danger">
        <div class="card-title">Manager</div>
        <hr />
        <div class="card-body">
            <p>15</p>
        </div>
    </div>
</div>
