@page
@model IndexModel


<div class="row d-flex justify-content-center">
    <div class="col-md-8 col-sm-12 text-center">
        <h1>Apartment Management System</h1>
        <h5>Admin Panel</h5>
    </div>
</div>
